* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  // margin: 0 auto;
  width: 100%;
  max-width: unset;
  position: relative;
  z-index: 1;
  filter: invert(0);
  // transition: filter 0.3s linear;

  &.nav--inverted {
    filter: invert(1);
  }

  .nav__list {
    max-width: 1200px;
    margin: auto;
  }

  li {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 10px;
  }

  a.active {
    &:after {
      width: 100%;
    }
  }
}

.wrapper {
  padding: 0 40px;
}