* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  // margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;

  // &.nav--inverted {
  //   filter: invert(1);
  //   margin-bottom: 0;
  // }


  li {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 10px;
  }

  a.active {
    &:after {
      width: 100%;
    }
  }
}

.wrapper {
  padding: 0 40px;
}